<header tuiNavigationHeader style="position: fixed; width: 100%; z-index: 1000;">
  <button
    title="Menu"
    tuiIconButton
    tuiNavigationDrawer
    type="button"
    [(open)]="open"
  >
    <tui-data-list>
      <tui-opt-group
        *ngFor="let group of drawer | keyvalue"
        [label]="group.key"
      >
        <button
          *ngFor="let item of group.value"
          tuiOption
          type="button"
          (click)="open = false"
        >
          <img
            alt="icon"
            [src]="item.icon"
          />
          {{ item.name }}
        </button>
      </tui-opt-group>
      <tui-opt-group>
        <label tuiOption>
          <input
            size="s"
            tuiSwitch
            type="checkbox"
            [(ngModel)]="switch"
          />
          Dark mode
        </label>
      </tui-opt-group>
    </tui-data-list>
  </button>
  <hr />
  <button
    iconStart="@tui.bell"
    tuiIconButton
    type="button"
  >
    Notifications
    <tui-badge-notification />
  </button>
  <button
    iconStart="@tui.ellipsis"
    tuiIconButton
    type="button"
  >
    More
  </button>
  <tui-avatar src="AI" />
</header>

<div style="display: flex; height: 100vh; overflow: hidden; padding-top: 60px;">
  <aside
    style="position: fixed; top: 0; left: 0; height: 100vh; overflow-y: auto; overflow-x: hidden; z-index: 999;"
    [tuiNavigationAside]="expanded"
  >
    <div style="margin-top: 40px;">
      <button
        iconStart="@tui.home"
        tuiAsideItem
        type="button"
      >
        Home
      </button>
      <button
        iconStart="@tui.hand-platter"
        tuiAsideItem
        type="button"
      >
        Menus
      </button>
      <tui-aside-group>
        <button
          automation-id="setting"
          iconStart="@tui.settings"
          tuiAsideItem
          tuiChevron
          type="button"
        >
          Settings
          <ng-template>
            <button
              tuiAsideItem
              type="button"
            >
              Account
            </button>
            <button
              tuiAsideItem
              type="button"
            >
              Notifications
            </button>
          </ng-template>
        </button>
      </tui-aside-group>
      <hr />
    </div>
    <hr />
    <footer>
      <button
        tuiAsideItem
        type="button"
        [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
        (click)="expanded = !expanded"
      >
        {{ expanded ? 'Collapse' : 'Expand' }}
      </button>
    </footer>
  </aside>
</div>
