<button appearance="flat"
        iconStart="@tui.ellipsis"
        tuiIconButton
        type="button"
        [tuiAppearanceState]="open ? 'hover' : null"
        [tuiDropdown]="content"
        [(tuiDropdownOpen)]="open"> Open

</button>
<ng-template #content>
  <tui-data-list
    tuiDataListDropdownManager
    [size]="size"
  >
    <button
      *tuiLet="'French Fries' as item"
      tuiOption
      type="button"
      (click)="selectOption(item)"
    >
      {{ item }}
    </button>

  </tui-data-list>

</ng-template>
