<button appearance="flat"
        iconStart="@tui.ellipsis"
        tuiIconButton
        type="button"
        [tuiAppearanceState]="open ? 'hover' : null"
        [tuiDropdown]="content"
        [(tuiDropdownOpen)]="open"> Open

</button>
<ng-template #content>
  <tui-data-list
    tuiDataListDropdownManager
    [size]="size"
  >
    <button


      tuiOption
      type="button"
      (click)="toggleEditDialog()"



    >
      Editar
      <tui-icon icon="@tui.pencil" [style.height.rem]="1"/>


    </button>

    <button


      tuiOption
      type="button"
      (click)="toggleDeleteDialog()"



    >
      Eliminar
      <tui-icon icon="@tui.x" [style.height.rem]="1"/>


    </button>


  </tui-data-list>

</ng-template>
