<div class="modal-container">
  <h1 class="title">Editar Componente de Menu</h1>
  <form
    tuiForm="l"
    class="mb-5"
    [formGroup]="form"
    [style.max-width.rem]="32"
    (ngSubmit)="onSubmit()"
  >
    <div class="grid">
      <div class="stack">
        <tui-textfield>
          <label tuiLabel>Nombre</label>
          <input
            formControlName="name"
            placeholder="Ingrese el nombre"
            tuiTextfield
            required
          />
        </tui-textfield>
        <tui-error
          formControlName="name"
          [error]="[] | tuiFieldError | async"
        />
      </div>

      <div class="stack">
        <tui-select
          formControlName="type"
          #select
          [valueContent]="stringify(menuTypes)"
        >
          Tipo
          <tui-data-list *tuiDataList>
            <button
              *ngFor="let type of menuTypes"
              tuiOption
              type="button"
              [value]="type.value"
            >
              {{ type.label }}
            </button>
          </tui-data-list>
        </tui-select>
      </div>
    </div>

    <div class="flex flex-row space-x-2">
      <div class="relative inline-block">
        <tui-avatar [src]="imageUrl || '@tui.user'" />
        <button
          tuiIconButton
          appearance="outline-destructive"
          iconStart="@tui.x"
          type="button"
          size="xs"
          (click)="removeImage()"
          [style.border-radius.%]="100"
          class="absolute -top-14 left-10 bg-none border-none z-10"
        ></button>
      </div>
      <div class="w-full">
        <label tuiInputFiles class="w-full">
          <input
            #validator="tuiInputFilesValidator"
            formControlName="image"
            tuiInputFiles
            type="file"
            accept="image/*"
            (change)="onImageSelected($event)"
            [disabled]="isImageSelected"
          />
        </label>
      </div>
    </div>

    <p *ngIf="form.errors?.['backend']" class="text-red-600 text-sm space-y-2">
      {{ form.errors?.["backend"] }}
    </p>
    <footer class="flex justify-end mt-2">
      <button appearance="flat" tuiButton type="button" (click)="closeDialog()">
        Cancelar
      </button>
      <button tuiButton type="submit">Guardar</button>
    </footer>
  </form>
</div>
