<div class="modal-container">
  <h1 class="title">¿Está seguro que quiere eliminar este menú?</h1>
  <tui-notification appearance="warning" size="s" class="mb-3">
    <div tuiTitle [style.padding-inline-end.rem]="2">
      El menu seleccionado será eliminado permanentemente
    </div>
  </tui-notification>
  <footer>
    <button
      tuiButton
      type="submit"
      (click)="confirmDelete()"
      appearance="primary-destructive"
      tuiAppearanceMode="checked"
      size="m"
    >
      Eliminar
    </button>
  </footer>
</div>
