<tui-accordion>
  <tui-accordion-item *ngFor="let menuGroup of filteredMenus">
    <ng-template tuiAccordionItemTitle>
      <!-- Título de la fecha de los menús -->
      <div class="flex justify-between items-center">
        <span>{{ menuGroup.date }}</span>
      </div>
    </ng-template>

    <ng-template tuiAccordionItemContent>
      <table class="min-w-full table-auto">
        <thead>
        <tr>
          <th class="px-4 py-3">Nombre</th>
          <th class="px-4 py-3">Precio</th>
          <th class="px-4 py-3">Stock</th>
          <th class="px-4 py-3">Vegetariano</th>
          <th class="px-4 py-3">Entrada</th>
          <th class="px-4 py-3">Plato Principal</th>
          <th class="px-4 py-3">Postre</th>
          <th class="px-4 py-3">Bebida</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let menu of menuGroup.menus">
          <td class="px-4 py-3">{{ menu.name }}</td>
          <td class="px-4 py-3">{{ menu.price | currency }}</td> <!-- Formato de moneda -->
          <td class="px-4 py-3">{{ menu.stock }}</td>
          <td class="px-4 py-3">
            <input
              disabled
              id="checkbox-{{ menu.id }}"
              [checked]="menu.vegetarian"
              type="checkbox"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
          </td>
          <td class="px-4 py-3">
            {{ findComponent(menu.components, 'STARTER')?.name || 'No disponible' }}
          </td>
          <td class="px-4 py-3">
            {{ findComponent(menu.components, 'MAIN_DISH')?.name || 'No disponible' }}
          </td>
          <td class="px-4 py-3">
            {{ findComponent(menu.components, 'DESSERT')?.name || 'No disponible' }}
          </td>
          <td class="px-4 py-3">
            {{ findComponent(menu.components, 'DRINK')?.name || 'No disponible' }}
          </td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </tui-accordion-item>
</tui-accordion>
