.modal-container {
  inline-size: 30rem;
}

@media screen and (max-width: 599px) {
  .modal-container {
    inline-size: 100%;
  }
}
.title {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: 0.01125rem;
}

.grid {
  display: grid;
  gap: inherit;
  grid-template-columns: 1fr 1fr;
}

.stack {
  display: flex;
  gap: inherit;
  flex-direction: column;
}

:host {
  display: flex;

  --tui-background-accent-2: var(--tui-status-info);
}

input[tuiSwitch]:checked{
  color: #526ED3 !important;
}
